<!DOCTYPE html>
<html>

.flex_container {
    display: flex;
}
.flex_child {
    flex: 1;
    border: 2px
}

.flex_child:first-child {
    margin-right: 20px;
}

.topnav-right {
    float: right;
}
</style>


<%= render partial: 'layouts/merchants_header', locals: { merch_name: @merchant.name, merch_id: @merchant.id }%>


<body>
  <%= @merchant.name %>
<div class = "flex_container">
  <div class="flex_child left">
    <h3> Items Ready to Ship </h3>
    <% @items_ready_to_ship.each do |invoice_item|%>
       <p><%= invoice_item.item.name %> Invoice#<%= link_to invoice_item.invoice_id, "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice_id}"%> - <%= invoice_item.invoice.created_at.strftime('%A, %B %d,%Y')%></p>
    <% end %>
  </div>

  <div class="flex_child right">
  <div id="favorite_customers">
   <h3> Favorite Customers </h3>
   <% @top_five.each do |five| %>
    <p><%= "#{five.first_name} #{five.last_name} - #{five.transaction_count} Purchases" %></p>
   <% end %>
  </div>
    
</div>
</body>
</html>