<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1em;
}
th {
  background-color: #BFBFBF;
}
td {
  background-color: #ECECEC;
}
#invoice {
  background-color:#E0E0E0;
  border-top: 2px solid black;
}
#submit-button {
  background-color: #FFFFFF;
}
</style>

<%= render partial: 'layouts/merchants_header', locals: { merch_name: @merchant.name, merch_id: @merchant.id }%>

<h3 id="invoice"><center>Invoice #<%= @invoice.id %></center></h3>

<div id="info">
  <p>Status: <%= @invoice.status %></p><br>
  <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p><br>
  <p>Total Revenue: $<%= "%.2f" % (@invoice.my_total_revenue(@merchant)/100) %></p><br>
  <p>Total Discounted Revenue: $<%=  "%.2f" % (((@invoice.my_total_revenue(@merchant)) - (@invoice.total_discount)) / 100) %></p><br>
  <p>Customer:</p>
  <p style="text-indent:30px;"><%= @invoice.customer.first_name%> <%= @invoice.customer.last_name%></p>
</div><br><br>

<section>
  <div id="items_on_this_invoice">
    <h3> Items on this Invoice: </h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Current Price</th>
        <th>Status</th>
        <th>Discount</th>
      </tr>
      <% @invoice.invoice_items.uniq_invoice_items.each do |invoice_item| %>
      <tr>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td>$<%= invoice_item.item.current_price %></td>
        <td id="update_status">
          <%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}?item_id=#{invoice_item.item.id}", method: :patch, local: true do |f| %>
          <%= f.select :status, ["pending", "packaged", "shipped"], :selected => invoice_item.status %>
          <%= f.submit 'Update Item Status', id: 'submit-button' %>
          <% end %>
        </td> 
            
        <td><%= link_to_unless(invoice_item.item.bulk_discounts == nil, "#{invoice_item.applied_discount.name}", "/merchants/#{@merchant.id}/bulk_discounts/#{invoice_item.applied_discount.id}") %></td>
        
      <% end %>
      </tr>
    </table>
  </div>
</section>

