<h3 style="background-color:#E0E0E0; border-top: 2px solid black;"><center>Invoice #<%= @invoice.id %></center></h3>

<div id="info">
  <p>Status: <%= @invoice.status %></p>
  <p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
  <p>Customer:</p>
  <p><%= @invoice.customer.first_name%> <%= @invoice.customer.last_name%></p>
</div>
<section>
  <div id="items_on_this_invoice">
    <h3> Items on this Invoice: </h3>
    <% @invoice.invoice_items.each do |invoice_item| %>
      <%=invoice_item.item.name %>
      <%=invoice_item.quantity %>
      <%=invoice_item.item.current_price %>
      <%=invoice_item.status %>
    <% end %>
  </div>
</section>
