<%= render partial: 'layouts/admin_header'%>

<center><h2 style="background-color:#E0E0E0; border-top: 2px solid black">Create a New Merchant</center></h2><br>

<%= form_with url: "/admin/merchants", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end %>
